<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>日付計算一覧</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>
	<header>	
		<div class="container">
			<h1 class="text-center text-white bg-primary py-3 mt-3">日付計算</h1>
			<form action="/" method="post" class="form-horizontal form-inline my-3">
				<div class="form-group has-primary">
						<label for="base" class="col-sm-4 control-label">基準日：</label>
					<input type="text" class="col-sm-6 form-control" name="base" id="base" th:value="${dateValue}" placeholder="20181224">
				</div>
				<input id="calculation" type="submit" value="計算" class="btn btn-primary">
				<a th:href="register" class="btn btn-primary mx-5 col-sm-2">新規登録</a>
			</form>
			<p class="text-danger" th:text="${msg}"></p>
		</div>
	</header>
	<main>
		<div class="container">		
			<table class="table table-striped">
				<thead>
					<tr class="text-center"><th>No.</th><th>日付ID</th><th>日付名</th><th>計算結果</th><th>計算式(年月日)</th></tr>
				</thead>
				<tbody>
					<tr th:each="dateForm, stat : ${dateResult}" th:object="${dateForm}" class="text-center">					
						<td th:text="${stat.count}"></td>
						<td th:text="*{id}"></td>
						<td th:text="*{name}"></td>
						<td th:text="*{result}"></td>
						<td th:text="*{formula}"></td>
						<td><a class="btn btn-primary" th:href="@{edit/{dateId}(dateId=*{id})}">更新</a></td>
						<td>
							<form action="#" th:action="@{/{dateId}(dateId=*{id})}" method="post">
								<button name="delete" class="btn btn-danger">削除</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>